<div class="panel panel-default">
    <div class="panel-heading">Product</div>
    <div class="panel-body">
        <ul>
            <li class="name">Name: {{product.name}}</li>
            <li class="type">Type: {{product.type | uppercase}}</li>
            <li class="weight">Weight: {{product.weight}}</li>
            <li class="cost">Cost: {{product.cost | currency: 'USD'}}</li>
        </ul>
        <button class="btn btn-warning btn-sm"
            (click)="onView()">
            View
        </button>
        <button class="btn btn-primary btn-sm"
            (click)="onBuy()" #buy>
            Buy
        </button>
    </div>
</div>