<div class="panel panel-default">
    <div class="panel-heading">Cart</div>
    <div *ngIf="sum == 0; then emptyBlock else productsBlock"></div>
    <ng-template #emptyBlock>
        <p>Cart is empty!</p>
    </ng-template>
    <ng-template #productsBlock>
        <div class="panel-body">
            <ul>
                <app-cart-item appCartColor
                    *ngFor="let cart of carts"
                    [cart]="cart"
                    [count]="cart.count"
                    (incrementProductCount)="onIncrementProductCount($event)"
                    (decrementProductCount)="onDecrementProductCount($event)"
                    (deleteCart)="onDeleteCart($event)">
                </app-cart-item>
                <li>Total sum: {{sum}}</li>
            </ul>
        </div>            
    </ng-template>
</div>