<div class="panel panel-default">
    <div class="panel-heading">Cart</div>
    <div *ngIf="totalSum > 0; else emptyBlock" class="panel-body">
        <ul>
            <app-cart-item appCartColor
                *ngFor="let cart of (carts$ | async | orderBy:'count':false)"
                [cart]="cart"
                [count]="cart.count"
                (incrementProductCount)="onIncrementProductCount($event)"
                (decrementProductCount)="onDecrementProductCount($event)"
                (deleteCart)="onDeleteCart($event)">
            </app-cart-item>
            <li>Total sum: {{totalSum}}</li>
            <li>Total quantity: {{totalQuantity}}</li>
        </ul>
        <button
            type="button"   
            class="btn btn-primary"
            (click)="onProcessOrder()">Process Order
        </button>
    </div>
    <ng-template #emptyBlock>
        <p>Cart is empty!</p>
    </ng-template>
</div>